/* Global Styles*/
*{
margin: 2px;
padding: 5px;
 box-sizing: border-box;

}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  color: #333;
  background: blanchedalmond;
}
/* Header*/

header {
  background: beige;
  color: #fff;
  padding: 2px 2px;
  position: sticky;
  top: 0;
  z-index: 100;
}
header {
  background: darkolivegreen;
  color: #fff;
  padding: 2px 2px ;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 20px;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: -350px;
}
.logo{
    margin-bottom: 450px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  margin-bottom: 450px;
}

.nav-links a:hover {
  color: black;
}
/* Hero Section*/

.hero {
  height: 90vh;
  background: linear-gradient(to right, #111, #333);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 150px;
}

.hero h2 span {
  color: #364b50;
}

.btn {
  display: inline-block;
  background: #293031;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #76ceeb;
}

/* ===== About Section ===== */
.about {
  padding: 20px;
  text-align: left;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem 0;
}

/* ===== My Work Section ===== */
.work {
  background: #fff;
  padding: 4rem 0;
  text-align: center;
  margin-left: 20px;
}

.work h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.work-item {
  background: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.work-item:hover {
  transform: translateY(-5px);
}

.work-item img {
  width: 100%;
  height: auto;
}

.work-item h3 {
  margin-top: 0.8rem;
}

.work-item p {
  padding: 0 1rem 1rem;
  color: #555;
}

/* ===== Contact Section ===== */
.contact {
  background: #3c5e46;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  margin-top: 350px;
}
.contact{
    margin-left: 20px;
}
.contact h2 {
  margin-bottom: 2rem;
}

/* ===== Footer ===== */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-size: 0.9rem;
  margin-right: 100%;
}
footer{
    margin-top: 350px;
}












