* {
  padding: 0;
  margin: 0;
}
.logo {
  max-width: 80px;
}
.logo img {
  width: 100%;
}
.carousel-item {
  width: 100%;
  height: 450px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.card {
  box-shadow: 29px 14px 28px 8px rgba(0, 0, 0, 0.3);
}
.container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn > button {
  border-radius: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-color: red;
}
.nav li {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
.gall:focus {
  color: red;
}
.fa-cart-arrow-down {
  color: red;
}
.forms {
  width: 50%;
  margin: 30px auto;
}
.card:hover {
  transition: 1s;
  transform: scale(1.1);
}
.addTo:hover {
  transition: 1s;
  transform: scalex(1.3);
}
.whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 60px;
  bottom: 30px;
  z-index: 10;
  align-items: center;
  cursor: pointer;
}
.whatsapp  img {
  width: 100%;
  cursor: pointer;
}
.whatsapp  h4 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}