<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
{
    margin: 0;
    padding: 0; 
font-family  'Poppins'sans-serif'

}
html{
font-size: larger;

}
body{
width: 50%;
height: 100wh;
overflow-x: hidden;
background-color: rgb(152, 152, 160);

color: rgb(27, 27, 25);
}
header {
margin-top: 10px;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
}
















