:root{
    --title--: 40px;
    --Primarycolor--:


}



body{
    margin: 0%;
}
#list{
    text-align: center;
}
.navbar a{
color: rgb(255, 255, 255);
text-decoration: none;
padding: 15px;
}
.navbar a:hover{
background-color: rgb(11, 37, 63);
}




#ul>li:hover{
background-color: rgb(11, 37, 63);
}
ul>button{
padding: 10px 20px;
border-radius: 8px;
color: white;
border-width: none;
border-style: none;
background-color: rgb(11, 37, 63);
font-size: larger;
}























ul> buttton {
            padding:10px 20px;
            border: radius 10px;
            color:  white;
            border-width: none;
            border-style: none;
            background-color: rgb(11, 37, 63);
            font-size: larger;
        
}


#logo>img{
    display: imline-block;
}

#logo>h1{
    display: inline-block;
}

#main{
    border: 1px ;
    width: 100%;
}

#left{ 
    border: 2px ;
    width: 49%;
    height: 400px;
    display: inline-block;
    

}
#text>button{
padding: 10px 30px;
border-radius: 7px;
background-color: rgb(11, 37, 63);
color: white;
border: none;

}
#right{
    border: 2px ;
    width: 49%;
height :  400px;
display : inline-block;
vertical-align: middle;

}
#text{
    border: 2px ;
    margin:  90px 50px;
}
#title{
    width: 50%;
margin: 50px auto;
text-align: center;
margin-top: 180px;

}
#title>h1{
font-size: var(--title--);
}

#title>p{
color: gray;
}



#Cardbox{
width: 400px;
border-radius: 20px;
display: inline-block;}

#img>img{
    width: 100%;
}
#Cardbox{
    margin: 20px 30px 20px 10px;
}



#text>p{
    color:#808080 ;
}
#text>p{
    padding: 5px 10px ;
border-radius: 10px ;
border-color: lightgrey;
background-color: transparent;
}











